@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --font-principal: 
    --font-secundaria:
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    /*height: 100vh;*/
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    background-color: var(--cor-principal);
    font-family: "Montserra", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Monteserrat', sans-serif;
}

.apresentacao__link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__link__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__link__botao {
    /* background-color: #22D4FD; */
    border: 2px dotted var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
    
}

.apresentacao__link__botao:hover {
    background-color: var(--cor-hover);
    /*padding: 3%;*/
}

.rodape {
    padding: 24px;
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 24px;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 400;
}